@import url('https://fonts.googleapis.com/css2?family=Changa&family=Piazzolla:wght@300&display=swap');

/* Global styles */

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-family: "Piazzolla";
    font-size: 12px;
    box-sizing: border-box;
    scroll-behavior: smooth;
    color: #ffffff;
    background: #414141;
}

a{
    text-decoration: none;
    color: rgb(47, 154, 204);
}

ul{
    list-style: none;
}

p{
    font-size: 1.4rem;
}

img{
    width: 100%;
    max-width: 100%;
    height: auto;
}

/* header */

header{
    width: 100%;
    height: 3rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.container{
    width: 100%;
    max-width: 100rem;
    margin: 0 auto;
    padding: 0 0;
}

.nav-brand{
    width: 10rem;
}

nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 2rem;
    border-bottom: 3px solid rgb(0, 0, 0);
}

.line1{
    width: 30px;
    height: 3px;
    margin: 5px 0;
    background: linear-gradient(
        100deg, 
        rgb(11, 150, 150) 0%,
        rgb(255, 255, 255) 100%
    );
}

.line2{
    width: 30px;
    height: 3px;
    margin: 5px 0;
    background: linear-gradient(
        100deg, 
        rgb(11, 150, 150) 0%,
        rgb(255, 255, 255) 100%
    );
}

.line3{
    width: 30px;
    height: 3px;
    margin: 5px 0;
    background: linear-gradient(
        100deg, 
        rgb(11, 150, 150) 0%,
        rgb(255, 255, 255) 100%
    );
}

.burger-menu-icon{
    cursor: pointer;
    z-index: 999;
    position: fixed;
    right: 0;
    top: 0;
    background: #414141;
    opacity: 1;
    padding: 1.5rem;
    border-radius: 50% 50% 50% 50%;
}
.profile-pic{
    height: 13rem;
    width: auto;
    border-radius: 50%;
    display: block;
    margin: 3rem 2rem;
}

.caption{
    display: block;
}

.nav-list {
    width: 24rem;
    height: 100vh;
    background-color: #000000;
    position: fixed;
    top: 0;
    right: -26rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: start;
    z-index: 998;
    transition: all 650ms ease-in-out;
}

.nav-list.active{
    right: 0;
}

.nav-item{
    margin: 2rem 0;
}

.nav-link {
    opacity: 1;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #ffffff;
    letter-spacing: 1.5px;
}

.nav-link:hover{
    color: rgba(11, 150, 150);
}

.toggle{
    background: none;
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2{
    opacity: 0;
}

.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
    margin-left: 0px;
}

/* landing page */
.landing-page{
    width: 100%;
    height: 100vh;
    background: linear-gradient(
        150deg,
        rgba(226, 229, 233, 0.555) 0%,
        rgba(0, 0, 0, 0.678) 80%
    ),
    url("images/landing-page.png") center no-repeat;
    background-size: contain;
    position: relative;
}

.main-message h1{
    width: 100%;
    max-width: 60.5rem;
    text-transform: uppercase;
    position: absolute;
    letter-spacing: 1.2rem;
    font-size: 3.5rem;
    font-family: "Piazzolla";
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    animation: typing 3.5s steps(40), blink 1s ease-in-out 2s infinite;
    margin: auto;
    border-right: 4px solid rgba(255, 255, 255, 1);
}

.main-message h2{
    width: 100%;
    max-width: 100rem;
    text-transform: uppercase;
    position: absolute;
    letter-spacing: 1rem;
    font-size: 1.5rem;
    font-family: "Changa";
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    animation: fade 7s;
    margin: auto;
    color: #ffffff;
}

@keyframes typing{
    0%{
        width: 0ch;
        color: white;
    }
    100%{
        width: 40ch;
    }
}

@keyframes blink{
    from{
        border-right: 4px solid rgba(255, 255, 255, 0);
    }
    to{
        border-right: 4px solid rgba(194, 194, 194);
    }
}

@keyframes fade{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.intro-btn{
    width: 100%;
    max-width: 60rem;
    text-transform: uppercase;
    position: absolute;
    letter-spacing: 1rem;
    font-size: 1rem;
    font-family: "Changa";
    left: 48.5%;
    top: 76%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: flex;
    justify-content: center;
}

.btn{
    margin: 0 100px;
    background: rgb(187, 190, 190);
    border-radius: .75rem;
    color: #000000;
    padding: .5rem 2rem;
    display: inline-block;
    transition: background-color 650ms;
    letter-spacing: 2px;
}

.btn:hover{
    color: #ffffff;
    background-color: rgb(11, 150, 150);
}

.scroll-down i{
    width: 5%;
    position: absolute;
    left: 48.5%;
    top: 84%;
    transform: translate(-50%, -50%);
    text-align: center;
    justify-content: center;
    color: #fafafa;
    transition: color 650ms;
    font-size: 4rem;
}

.scroll-down i:hover{
    color: rgb(11, 150, 150);
}