*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Grandstander', cursive;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}

nav{
    flex: 1;
    text-align: right;
}

nav ul{
    display: inline-block;
    list-style: none;
}

nav ul li{
    display: inline-block;
    margin-right: 20px;
}

.cart ion-icon{
    vertical-align: bottom;
    font-size: 20px;
    padding-right: 5px;
}

nav ul li a:hover{
    color: rgb(243, 71, 214);
    text-decoration: underline;
}
.dropbtn{
    background-color: rgba(236, 139, 208, 0);
    color: rgb(0, 0, 0);
    font-family: 'Grandstander', cursive;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.dropbtn:hover, .dropbtn:focus{
    color: rgb(243, 71, 214);
    text-decoration: underline;
}

.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: rgb(255, 247, 253);
    min-width: 160px;
    overflow: auto;
    box-shadow: 10px 10px 15px 2px rgba(255, 255, 255, 0.555);
    z-index: 1;
}

.dropdown-content a{
    color: rgb(0, 0, 0);
    padding: 12px 16px;
    text-align: left;
    text-decoration: none;
    display: block;
}

.dropdown a:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(243, 71, 214);
    text-decoration: none;
}

.show{
    display: block;
}

a{
    text-decoration: none;
    color: black;
}

p{
    color: black;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2{
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 .scroll-down i{
    width: 5%;
    position: absolute;
    left: 14.5%;
    top: 85%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: black;
    justify-content: center;
    transition: color 650ms;
    font-size: 4rem;
}

.col-2 .scroll-down i:hover{
    color: rgb(243, 71, 214);
}

.col-2-1 img{
    width: 420px;
    height: 420px;
    opacity: .5;
}

.col-2 img{
    max-width: 100%;
    padding: 50px 0;
    opacity: .75;
}

.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
    font-family: 'Philosopher', sans-serif;
}

.btn{
    display: inline-block;
    background: rgb(0, 0, 0);
    color: rgb(243, 71, 214);
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
}

.btn:hover{
    background: rgb(243, 71, 214);
    color: black;
}

.header{
    background: radial-gradient(#ffffff, pink);
}

.header .row{
    margin-top: 70px;
}

.categories-1{
    background: radial-gradient(white, rgb(234, 247, 248));
}

.categories{
    margin: 70px 0;
    background: radial-gradient(white, rgb(234, 247, 248));
}

.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}

.col-3 img{
    width: 100%;
}

.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}

.col-4 img{
    width: 100%;
}

.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: black;
    font-family: 'Philosopher', sans-serif;
    font-size: 30px;
    text-shadow: 3px 3px 6px rgb(56, 56, 56);
}

h4{
    color: rgb(243, 71, 214);
    font-weight: normal'
}

.col-4 p{
    font-size: 14px;
}

.rating .fa{
    color: rgb(243, 71, 214);
}

.col-4:hover{
    transform: translateY(-7px);
}

.offer{
    background: radial-gradient(#ffffff, #faaded);
    margin-top: 80px;
    padding: 30px 0;
}

.col-2 .offer-img{
    padding: 50px;
}

small{
    color: black;
}

.testimonial{
    padding-top: 108px;
}

.testimonial .col-3{
    background-color: white;
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(255, 192, 203, 0.562);
    cursor: pointer;
    transition: transform 0.5s;
}

.testimonial .col-3 img{
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
}

.testimonial .col-3:hover{
    transform: translateY(-10px);
}

.fa .fa-quote-left{
    font-size: 34px;
    color: pink;
}

.col-3 p{
    font-size: 12px;
    margin: 12px 0;
    color: black;
}

.testimonial .col-3 h3{ 
    font-weight: 600;
    color: rgb(0, 0, 0);
    font-size: 18px;
}

.footer{
    height: 40vh;
    text-align: center;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 60px 0 20px;
    background-color: rgb(0, 0, 0);
}

.footer-nav img{
    width: 100px;
    margin-bottom: 30px;
}

.footer-nav h3{
    color: rgb(255, 255, 255);
}

.footer-nav p{
    padding-bottom: 10px;
    color: rgb(255, 255, 255);
}

.footer-nav a{
    font-size: 15px;
    margin: .5rem;
    color: rgb(255, 255, 255);

}

.footer-nav a:hover{
    color: rgb(243, 71, 214);
    text-decoration: underline;
}

.footer hr{
    border: none;
    background: rgb(255, 255, 255);
    height: 2px;
    margin: 20px 0;
}

.copyright{
    text-align: center;
    color: white;
}

.copyright i{
    color: rgb(255, 255, 255);
}


.menu-icon{
    width: 28px;
    margin-left: 20px;
    display: none;
}

@media only screen and (max-width: 800px){
    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        background: rgb(255, 255, 255);
        opacity: 0.8;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.6s;
    }

    nav ul li{
        display: block;
        margin-bottom: 10px;
        margin-right: 50px;
        margin-top: 10px;
    }

    nav ul li a{
        color: rgb(0, 0, 0);
    }

    .menu-icon{
        display: block;
        cursor: pointer;
    }

}

.row-2{
    justify-content: space-between;
    margin: 100px auto 50px;
}

select{
    border: 1px solid pink;
    padding: 5px;
}

select:focus{
    outline: none;
}

.page-btn{
    margin: 0 auto 80px;
}

.page-btn span{
    display: inline-block;
    border: 1px solid pink;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}

.page-btn span:hover{
    background: pink;
    color: white;
}

.single-product{
    margin-top: 80px;
}

.single-product .col-2 img{
    padding: 0;
}

.single-product .col-2{
    padding: 20px;
}

.contect-section{
    padding: 20px;
}

.shop-item-img{
    max-width: 100%;
    padding: 50px 0;
    opacity: .75;
}
.single-product .shop-item-title{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
    font-family: 'Philosopher', sans-serif;
}

.single-product .col-2 p a{
    text-decoration: underline;
}

.single-product .shop-item-price{
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
    color: rgb(243, 71, 214)
}


.single-product select{
    display: block;
    padding: 10px;
    margin-top: 20px;
}

.single-product .shop-item-button{
    display: inline-block;
    background: rgb(0, 0, 0);
    color: rgb(243, 71, 214);
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
}

.single-product .shop-item-button:hover{
    background: rgb(243, 71, 214);
    color: black;
}

.small-img-row{
    display: flex;
    justify-content: space-between;
}

.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}

.section-header{
    margin: 0 auto;
    margin-top: 50px;
}

.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: #333;
    padding-top: 20px;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 2px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 45%;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: rgb(0, 0, 0);
}

.cart-quantity {
    width: 35%;
}

.cart-item-title {
    color: rgb(0, 0, 0);
    margin-left: .5em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.btn-danger {
    color: rgb(255, 255, 255);
    background-color: #000000;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: #df0c0cbe;
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0);
    background-color: #eee;
    color: rgb(0, 0, 0);
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-row:last-child {
    border-bottom: 2px solid black;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}

.cart-total-price {
    color: rgb(0, 0, 0);
    font-size: 1.1em;
}

.btn-purchase {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.75em;
    background-color: black;
    color: white;
}

.btn-purchase:hover{
    background-color: rgb(17, 236, 36);
    color: black;
}

.account-page{
    padding: 50px 0;
    background: radial-gradient(#ffffff, #faadbd);
}

.form-container{
    background: white;
    width: 300px;
    height: 400px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.3);
    border-radius: 10px;
    overflow: hidden;

}

.form-container span{
    font-weight: bold;
    padding: 0 10px;
    color: black;
    cursor: pointer;
    width: 100px;
    display: inline-block;
}

.form-btn{
    display: inline-block;
}

.form-container form{
    max-width: 300px;
    padding: 0 20px;
    position: absolute;
    top: 130px;
    transition: transform 1s;
}

form input{
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid grey;
}

form .btn{
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 10px 0;
}

form .btn:focus{
    outline: none;
}

#LoginForm{
    left:-300px;
}

#RegForm{
    left: 0px;
}

form a{
    font-size: 12px;
}

#Indicator{
    width: 100px;
    border: none;
    background: pink;
    height: 3px;
    margin-top: 8px;
    transform: translateX(100px);
    transition: transform 1s;
}
@media only screen and (max-width: 500px){
    .row{
        text-align: center;
    }
    .col-2, .col-3, .col-4{
        flex-basis: 100%;
    }

    .single-product .row{
        text-align: left;
    }

    .single-product .col-2{
        padding: 20px 0;
    }

    .single-product h1{
        font-size: 26px;
        line-height: 32px;
    }

    .sm-hide{
        display: none;
    }

    .product-header{
        justify-content: center;
    }

}








